.node {
  stroke: #fff;
  stroke-width: 2px;
}

.link {
  fill: none;
  stroke: #000;
  opacity: .3;
}
.link.on {
  stroke: #F00;
  opacity: .7;
}

.node {
    stroke: none;
}

body {
	width: 1000px;
  margin: auto;
	font-family: Verdana;
	background-color: #F5F5F5; 
}

section {
	background-color: #FFFFFF;
	border: 1px solid #C5C5C5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 5px 5px 0 #DCDCDC;
  clear: both;
  margin: 30px 0px;
  width: 100%;
}

header { height: 293px; margin-top: 10px; }

header h1 { 
	background-image: url('/images/logo.png');
	height: 157px; 
	width: 356px;
	text-indent: -999999px;
	float:right;
	display:block;
	margin: 65px 176px;
 }

header img#logo {
	height: 293px; 
	width: 291px;
	float: left;
}
article { padding: 20px; }
article#info { height: 223px; }
article#info ul { 
  list-style: none outside none;
	margin-left: 16px;
}
article#info ul li { 
	float: left;
}
article#info ul li.heading { 
	background-color: #B5B5B5;
  border-radius: 13px 13px 13px 13px;
  padding: 10px;
  text-align: center;
  width: 180px;
}
article#info ul li.line2 { margin-top: 25px !important; }
article#info ul li.text { 
  background-color: #F1F1F1;
  border-radius: 13px 13px 13px 13px;
  padding: 10px 10px 0px 10px;
  width: 500px; 
}

article#info ul li:nth-child(2n+1)  { margin: 0px 68px;}
article#info ul li.text p {
	line-height: 2em;
}

article ul#items li.active a { background-color: #555555; }
a { color: #333333}
article div#slider { width: 800px; display: inline-block; margin-left: 20px;}
article div#slider a { width: 100px;}
body:last-child { margin-bottom: 60px; }
h3 { font-size: 14px; }

.hidden { display: none; }

div.info-tip ul { 
	display: block;
  list-style: none outside none;
  margin: auto;
  width: 275px;
}
div.info-tip ul li {
	font-size: 14px;
	padding: 5px;
}
div.info-tip ul li label {
	display: inline-block;
  font-size: 13px;
  font-weight: bold;
  width: 192px;
}
div.info-tip ul.buttons {  }
div.info-tip ul.buttons li {
	float: left;
}
div.info-tip ul li button { }
footer {
	clear: both;
  width: 100%;
	padding: 10px;
	left: 0;
	bottom: 0;
  margin-bottom: 0;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 1030;
	color: #FFF;
	background-color: #333;
}

#svg {
	display: inline-block;
}